body {
  padding: 0;
  background-color: $backgroundColor;
}
header,
nav,
#mainWrapper,
#restofmain,
footer {
  max-width: 64rem;
  margin: 0 auto;
}

header {
  padding: $gutter 0 0 0;
}

nav {
  ul {
    display: flex;
    justify-content: flex-end;
    padding-top: 0;
    margin-top: 0;
    li {
      width: auto;
      a {
        padding: 0.5rem 1rem;
      }
    }
  }
} // end nav

#bannerWrapper {
  width: 100%;
  background-color: $secondaryColor;
  .banner {
    max-width: 64rem;
    margin: 0 auto;
  }
}

main {
  div.banner {
    grid-template-columns: 2.4fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left right";
    padding: $gutter 0 $gutter 0;
    margin: 0;
    h1,
    h2 {
      margin: 0;
      padding: 0;
    }
    h3 {
      margin: 0;
      padding: 4px 0;
    }
    p {
      margin: 0;
      padding: $gutter 0;
    }
    .bannerRt {
      text-align: right;
      grid-area: right;
      height: 100%;
      h2 {
        padding-bottom: 10px;
      }
      h1 {
        padding-top: 12px;
        font-size: 2.2rem;
      }
    }
    .bannerLft {
      text-align: left;
      grid-area: left;
      margin: 0;
      padding: 0;
    }
  }
  div.thePspot {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    padding: $gutter 0;
    margin: 0;
    gap: 20px;
    div.pSpots {
      margin: 0;
    }
  }

  div.theOtherSpot {
    padding: $gutter 0;
    margin: 0;
    grid-template-columns: repeat(3, 1fr);
    
    grid-template-areas: 
      'infra tech graph'
      'infra tech graph'
      'live live graph';
    gap: 20px;
    justify-items: stretch;
    justify-content: space-between;
    div.anOspot {
      margin: 0;
      h2 {
        margin: 0;
        padding: 0;
      }

      p {
        margin: 0;
        padding: $gutter 0;
      }

      
    }
  }
} // end main
