$primaryColor: #0480b1;
$secondaryColor: #111118;
$accent: #fdd831;
$fontColor: #727279;
$bannerFontColor: #fff;
$backgroundColor: #f6f6f6;

$gutter: 2%;
$dblgutter: (2 * $gutter);

$defaultFont: 'Montserrat', sans-serif;
$normalWeight: 400;
$boldWeight: 700;
